body {
    margin: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
    font-family: Stara-Medium;
}

main {
    background-color: #fff;
    overflow-y: scroll;
    padding-top: 60px; 
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 75px; 
    padding: 80px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer; 
}

.image-date {
    margin-top: 5px; 
    font-size: 12px;
    color: #666;
    width: 100%; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

aside {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
    font-size: 12px;
    padding-top: 60px; 
    font-family: Stara-Medium;
}

main::-webkit-scrollbar,
aside::-webkit-scrollbar {
    display: none;
}

main,
aside {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1px;
}

.project-row {
    display: contents; 
}

.project-name, .project-type, .project-year {
    padding: 10px;
    word-wrap: break-word;
}

.project-name {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.project-name:visited {
    color: inherit; 
}

header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.project-content {
    max-width: 600px;
    margin-left: 50px;
    padding: 40px 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.project-content h1 {
    font-size: 16px;
    margin-bottom: 50px;
}

.project-content h2 {
    font-size: 16px;
    margin-bottom: 0px;
}


.project-content p {
    margin-bottom: 15px;
}

.home-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    font-family: Stara-Medium;
    text-decoration: underline;
}

.small-image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-left: 60px;
}

.small-image-gallery .image-item img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    cursor: default;
}